
body {
  font-family: 'Vesper Libre', sans-serif;
  margin: 0px;
  background-image: url(http://www.noirextreme.com/digital/Earth-Color4096.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


header {
  float: center;
  margin: 0 25% 2%;
  padding: 0 10% 0 10% ;
  max-width: 500px;
  border-top: 10px solid #457c39;
  border-bottom: 10px solid #457c39;
  text-align: center;
  background: #1aa9bc;
}


h1 {
  font-family: 'Fascinate', sans-serif;
  margin: 15px 0 5px 0;
  font-size: 2em;
  font-weight: normal;
  line-height:: 0.8em;
}

h4 {
  font-size: 1.5em;
}


html{
  text-align: center;
  margin-left: 5%;
  margin-right:5%;
  color: #457c39;
}


/* logo text */
h1, h2 {
  color: #ffeb00;
}

#country-layout{
  background-color: #1aa9bc;
  color: #ffeb00;
  margin: auto;
  padding:0;
  width: 45%;
  border: solid;
  border-width: 2px;
  border-color: #457c39;
  float: left;
  height: 400px;
}


.details p{
color: #fbae17;
text-decoration: none;
padding: 10px;
border-radius: 10px;
padding-left:10px;
padding-right:10px;
font-size: 1.25em;
}

#map {
  height:400px;
  width: 45%;
  float: right;
}

